# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.env.local

# Database
*.db
*.sqlite3

# Logs
*.log

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Render/Vercel cache
.vercel/
